<table class="overflow-auto">
  <thead>
    <tr>
      <th scope="col"><%= DiseaseCase.human_attribute_name(:result) %></th>
      <th scope="col"><%= DiseaseCase.human_attribute_name(:body_part) %></th>
      <th scope="col"><%= DiseaseCase.human_attribute_name(:disease_category) %></th>
      <th scope="col"><%= DiseaseCase.human_attribute_name(:disease_name) %></th>
      <th scope="col"><%= DiseaseCase.human_attribute_name(:year) %></th>
      <th scope="col"><%= DiseaseCase.human_attribute_name(:link) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "disease_cases/index/disease_case", collection: cases %>
  </tbody>
</table>
