<% content_for :title, t("search.title") %>
<div class="container">
  <section class="search-simple">
    <h1><%= t("search.title") %></h1>
    <%= form_with url: root_path, method: :get, local: true, html: {role: "search"} do |form| %>
      <%= form.search_field :q, value: params[:q], placeholder: t("search.placeholder"), autofocus: true %>
      <%= form.submit t("helpers.submit.search"), name: "search" %>
    <% end %>
    <div>
      <%= link_to t("search.advanced"), search_path(q: params[:q]) %>
    </div>
  </section>
  <% if params[:q].present? %>
    <%= render "search_results" %>
  <% end %>
</div>
