<% content_for :title, @disease_case.disease_name %>

<div class="container">
  <section>
    <h3><%= @disease_case.disease_name %></h3>
    <p>
      <%= DiseaseCase.human_attribute_name(:result) %>
      <%= @disease_case.human_attribute_enum(:result) %>
      &middot; 
      <%= @disease_case.human_attribute_enum(:disease_category) %>
      &middot;
      <%= @disease_case.human_attribute_enum(:body_part) %>
      <%= link_to "#{DiseaseCase.human_attribute_name(:link)} ↗", @disease_case.link, target: "_blank", rel: "noopener noreferrer" %>
      <%= DiseaseCase.human_attribute_name(:case_no) %> <%= @disease_case.case_no %>
      <% if @disease_case.decided_on.present? %>
        &middot; <%= DiseaseCase.human_attribute_name(:decided_on) %>: <%= l(@disease_case.decided_on) %>
      <% else %>
        &middot; <%= @disease_case.year %>년
      <% end %>
    </p>
  </section>

  <% DiseaseCase.detail_sections.each do |attr, label| %>
    <% content = @disease_case.public_send(attr) %>
    <% if content.present? %>
      <section>
        <h4><%= label %></h4>
        <small class="whitespace-pre-wrap leading-relaxed"><%= content %></small>
      </section>
    <% end %>
  <% end %>
</div>
