<% content_for :title, t("search.title") %>
<div class="container">
  <section>
    <h1><%= t("search.title") %></h1>

    <%= form_with url: root_path, method: :get, local: true, html: {role: "search"} do |form| %>
      <%= form.search_field :q, value: params[:q], placeholder: t("search.placeholder"), autofocus: true %>
      <%= form.submit t("helpers.submit.search"), name: "search" %>
    <% end %>
    <div>
      <%= link_to t("search.advanced"), search_path(q: params[:q]) %>
    </div>
  </section>
  <section>
    <% if params[:q].present? %>
      <% if @over_cap %>
        <p><%= t("search.over_cap") %></p>
      <% elsif @result_count %>
        <p><%= @result_count %> <%= t("search.results") %></p>
      <% end %>
      <% if @fallback %>
        <div><%= t("search.fallback_notice") %></div>
      <% end %>
      <% if @cases.empty? %>
        <p><%= t("search.no_results") %></p>
      <% else %>
        <div class="overflow-x-scroll">
          <%= render "searches/case_list", cases: @cases %>
        </div>
        <div class="max-w-fit mx-auto">
          <%== @pagy.series_nav %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
