<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || t("search.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/oat@latest/dist/oat.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <%= link_to t("search.title"), root_path, class: "navbar-brand" %>
      </div>
    </nav>

    <main class="container" style="margin-top: 2rem; margin-bottom: 4rem;">
      <%= yield %>
    </main>
  </body>
</html>
