<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || t("search.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="container">
      <ul>
        <li>
          <%= link_to root_path do %>
            <strong>업무상 질병 판정서</strong>
          <% end %>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to "검색", root_path %>
        </li>
        <li>
          <%= link_to "소개", about_path %>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
